.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}
.ml-10, 
.mx-10 {
    margin-left: 10px;
}

.mt-10,
.my-10 {
    margin-top: 10px !important;
}
.mt-3 {
    margin-top: 3px;
}
.mt-5 {
    margin-top: 5px;
}

.area-search {
    background-color: #f3f3f3;
}
.table th {
    background-color: #fff !important;
}
.table th  {
    padding: 0.75rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    padding: 20px !important;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table th {
    background-color: #f3f3f3 !important;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6 !important;
}
.table {
    vertical-align: middle;
}
.pr-45 {
    padding-right: 45px !important
}
.pr-30 {
    padding-right: 30px !important
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.d-flex {
    display: flex !important;
    align-items:center
}
.w-50p {
    width: 50px !important
}
.w-60p {
    width: 60px !important
}
.w-70p {
    width: 70px !important
}
.w-80p {
    width: 80px !important
}
.w-90p {
    width: 90px !important
}
.w-100p {
    width: 100px !important
}
.w-110p {
    width: 110px !important
}
.w-120p {
    width: 120px !important
}
.w-130p {
    width: 130px !important
}

.w-140p {
    width: 140px !important
}
.w-150p{
    width:150px !important
}
.w-160p {
    width: 160px !important
}
.w-170p {
    width: 170px !important
}
.w-180p {
    width: 180px !important
}
.w-190p {
    width: 190px !important
}
.w-200p {
    width: 200px !important
}

.row-h{
    height : 45px !important
}

.f-l {
    float: left !important
}
.f-r {
    float: right !important
}